h1, h2, h3 {
	font-weight: bold;
}
h1 {
	font-size: $font-size-60;
}
h2 {
	font-size: $font-size-40;
}
h3 {
	font-size: $font-size-22;
}

input {
	border-radius: $border-radius;
	border: 1px solid $gray-1;
	height: 64px;
	width: 100%;
}

label {
	color: $gray-2;
	font-size: $font-size-18;
}

.btn {
	background-color: $gray-3;
	border-radius: $border-radius;
	border: none;
	color: $white;
	cursor: pointer;
	font-size: $font-size-18;
	font-weight: bold;
	height: 53px;
	width: 100%;
	&:hover {
		background-color: $gray-2;
	}
	&:disabled {
		background-color: $gray-1;
		border: none;
		color: rgba(65, 66, 66, 0.4);
		cursor: default;
	}
}

.btn-secondary {
	@extend .btn;
	background-color: $white;
	border: 2px solid $gray-3;
	color: $gray-3;
	&:hover {
		background-color: $gray-0;
	}
	&:active {
		background-color: $gray-3;
		color: $white;
	}
}

.btn-link {
	background-color: transparent;
	border: none;
	color: $gray-3;
	cursor: pointer;
	font-size: $font-size-20;
	text-decoration: underline;
}

.card {
	align-items: center;
	background-color: $white;
	border: 1px solid $gray-1;
	border-radius: $border-radius;
	box-shadow: 0px 9px 15px -9px rgba(0, 0, 0, 0.12);
	display: flex;
	flex-direction: column;
}

.card-row {
    display: flex;
    flex-wrap: wrap;
	margin-right: -24px;
    width: 100%;
    .card {
      margin-bottom: 34px;
	  margin-right: 24px;
    }
    @media (max-width: 874px) {
      justify-content: center;
	  margin-right: 0;
	  .card {
		  margin-right: 0;
	  }
    }
  }

.container {
	max-width: 1468px;
	margin: 0 auto;
	padding: 40px;
	@media (max-width: $breakpoint-sm) {
		padding: 0
	}
  }